[Unit]
Description=Switch to IWD
ConditionPathExists=!/etc/.vedaos-iwd
After=local-fs.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/vedaos-iwd-switch
ExecStartPost=/usr/bin/touch /etc/.vedaos-iwd

[Install]
WantedBy=default.target multi-user.target
