name: Build Custom Image
on:
  schedule:
    - cron:
        "00 06 * * *" # build at 06:00 UTC every day
  push:
    paths-ignore: # don't rebuild if only documentation and titanoboa has changed
      - "**.md"
      - "files/flatpaks"
      - "files/titanoboa*.sh"
      - ".github/workflows/*.yml"
  workflow_dispatch: # allow manually triggering builds
concurrency:
  # only run one build at a time
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true
jobs:
  bluebuild:
    name: Build Custom Image
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false # stop GH from cancelling all matrix builds if one fails
      matrix:
        recipe:
          - recipe.yml
          - recipe-lts.yml
    steps:
      - name: Mount BTRFS for podman storage
        id: container-storage-action
        uses: ublue-os/container-storage-action@911baca08baf30c8654933e9e9723cb399892140
        # Fallback to the remove-unwanted-software-action if github doesn't allocate enough space
        # See: https://github.com/ublue-os/container-storage-action/pull/11
        continue-on-error: true 
        with:
          target-dir: /var/lib/containers
          mount-opts: compress-force=zstd:2
      # the build is fully handled by the reusable github action
      - name: Build Custom Image
        uses: blue-build/github-action@v1.10
        with:
          recipe: ${{ matrix.recipe }}
          cosign_private_key: ${{ secrets.SIGNING_SECRET }}
          registry_token: ${{ github.token }}
          pr_event_number: ${{ github.event.number }}
          maximize_build_space: true
          build_chunked_oci: true
          retry_push_count: 3
          # mitigate a problem that occures while rechunking an image with nvidia drivers referencing an older build
          # this flag forces build-chunked-oci to ignore it and do it over again, like it did before cli v0.9.28
          # https://github.com/bootc-dev/bootc/issues/1885
          build_opts: --rechunk-clear-plan
