name: Tag as Stable
on:
  workflow_dispatch: # allow manually triggering builds
concurrency:
  # only run one build at a time
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true
jobs:
  tag-as-stable:
    name: Tag as Stable
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false # stop GH from cancelling all matrix builds if one fails
    steps:
      # tagging as stable
      - name: Copy custom image and tag it as stable
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo $GITHUB_TOKEN | sudo podman login -u lumaeris --password-stdin ghcr.io
          sudo skopeo copy docker://ghcr.io/lumaeris/vedaos:latest docker://ghcr.io/lumaeris/vedaos:stable
          sudo skopeo copy docker://ghcr.io/lumaeris/vedaos:latest docker://ghcr.io/lumaeris/vedaos:stable-43
          sudo podman logout ghcr.io
